<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tripify</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/travelin/travelin/images/favicon.png">
    <!-- Bootstrap core CSS -->
    <link href="/travelin/travelin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--Custom CSS-->
    <link href="/travelin/travelin/css/style.css" rel="stylesheet" type="text/css">
    <!--Plugin CSS-->
    <link href="/travelin/travelin/css/plugin.css" rel="stylesheet" type="text/css">

    <!--Font Awesome-->

    <link rel="stylesheet" href="/travelin/travelin/css/fontawesome.min.css" />

    <link rel="stylesheet" href="/travelin/travelin/fonts/line-icons.css" type="text/css">
<style>
    .home-thh .navbar.navbar-default.navbar-sticky-in .navbar-brand .logo-text { color: #333 !important; }
</style>
</head>

<!-- Preloader -->
<div id="preloader">
    <div id="status"></div>
</div>
<!-- Preloader Ends -->
