@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    int currentPage = int.Parse(Context.Request.Query["page"].FirstOrDefault() ?? "1");
}

<section class="breadcrumb-main pb-20 pt-14" style="background-image: url(/travelin/travelin/images/bg/paris.jpg)">
    <div class="section-shape section-shape1 top-inherit bottom-0" style="background-image: url(/travelin/travelin/images/shape8.png);"></div>
    <div class="breadcrumb-outer">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h1 class="mb-3">@Localizer["TourList_Title"]</h1>
                <nav aria-label="breadcrumb" class="d-block">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Default/Index/">@Localizer["TourList_Home"]</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Localizer["TourList_Breadcrumb"]</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="dot-overlay"></div>
</section>

@await Component.InvokeAsync("_TourListComponentPartial", new { page = currentPage })

<div id="back-to-top">
    <a href="#"></a>
</div>

