<div class="navbar-collapse1 d-flex align-items-center" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav" id="responsive-menu">
        <li>
            <a href="/Default/Index/">
                @Localizer["Nav_Home"]
            </a>
        </li>

        <li><a href="/About/Index/">@Localizer["Nav_About"]</a></li>

        <li>
            <a href="/Tour/TourList/">
                @Localizer["Nav_Tours"]
            </a>
        </li>

        <li class="search-main">
            <a href="#search1" class="mt_search"><i class="fa fa-search"></i></a>
        </li>
    </ul>
</div>