<section class="discount-action pt-0" style="background-image:url(/travelin/travelin/images/bg/paris.jpg); background-position:center;">
    <div class="container">
        <div class="call-banner rounded pt-10 pb-14">
            <div class="call-banner-inner w-75 mx-auto text-center px-5">
                <div class="trend-content-main">
                    <div class="trend-content mb-5 pb-2 px-5">
                        <h5 class="mb-1 theme">Sevdiğin Yerde Ol</h5>
                        <h2><a href="detail-fullwidth.html">Hayatını Keşfet, <span class="theme1">İstediğin Yere Seyahat Et!</span></a></h2>
                        <p>Hayallerinizdeki tatili yaşayın, istediğiniz yeri keşfedin ve unutulmaz anılar biriktirin.</p>
                    </div>
                    <div class="video-button text-center position-relative">
                        <div class="call-button text-center">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/WA69w6hYTWs?si=VqkhaKpcI99OURys" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="video-figure"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="white-overlay"></div>
    <div class="white-overlay"></div>
    <div class="section-shape top-inherit bottom-0" style="background-image: url(/travelin/travelin/images/shape6.png);"></div>
</section>